/* Search.module.css */
.container {
    margin-left: 60px;
    height: 100vh;
}

.sidebar {
    width: 250px; /* Fixed width for sidebar */
    background-color: #f0f0f0; /* Optional background color */
}

.mainContent {
    flex-grow: 1; /* Take up remaining space */
    padding: 16px; /* Padding for spacing */
    overflow-y: auto; /* Allow scrolling if needed */
}

.gridContainer {
    display: grid;
    grid-template-columns: repeat(7, 1fr); /* 7 columns */
    gap: 2px; /* Space between grid items */
    margin-top: 20px; /* Optional margin at the top */
}

/* Add this new class for extra space after each row */
.gridRow {
    margin-bottom: 32px; 
}

.heading{
    font-weight: 'bold';
    font-size: 25;
    
}